.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

img {
  width: 100px;
  height: 100px;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: right;
  align-items: start;
  width: 600px;
}
.card {
   display: flex;
   list-style: none;
   align-items: center;
   font-weight: 600;
  gap: 20px;
}
div.card-body{
    width: 400px;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 600px;
}
.botones {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Total{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    padding: 20px;
}

.Buy{
    background-color: black;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    color: white;
    font-weight: bolder;
}
