.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: right;
  align-items: start;
  width: 600px;
}

.Total{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    padding: 20px;
}

.Buy{
    background-color: black;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    color: white;
    font-weight: bolder;
}
